/** Mobile screens
/** Media Queries Max Width 600 px **/
@media screen and (max-width: 600px) {

body {
    width: 100%;
    margin: 0 auto;
}

a, u {
    text-decoration: none;
}

#container { margin: none;}

.banner{
    display: none;
}

.banner p {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* main nav elements */
#main-nav{
    background: #484444;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 6px 0px;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
}
#brand-span{
    margin-top:8px;
    margin-bottom:8px;
    font-size: 12px;
    font-weight: 700;
 }

#spacer{
   min-width: 35px;
   min-height:39px;
}

/* child nav elements */
#child-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    height: 40px;
    background-color: #d2d2d2;
}

#child-nav a {
    font-weight: 700;
    color: #000;
}

#child-nav a:hover {
    color:white;
    padding:10px;
}

/* main container */
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.content{
   width: 85%;
   margin: 5px 0px 5px 30px;
   display:flex;
   flex-direction:row;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.sidebar {
    display:none;
}

.sidebar-ad{
    width: 50px;
    height: 250px;
    border: .5px solid #8a8989;
    margin: 10px;
}

.homepage-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item-image {
    min-width:150px;
    max-width:160px;
    min-height:100px;
    max-height:100px;
}
.item-title {
    font-size: 12px;
    color: #000;
    border: .5px solid grey;
    margin: 5px;
    padding: 5px;
}
.content span {font-size: 12px;}

.hamburger{
    margin-left: 15px;
    color: #fff;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    background-color: #fff;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000;
}

input[type=submit] {
    padding: 9px;
}

button {
    background-color: black;
    color: white;
    border: None;
    padding: 10px 20px;

}


#nav-search { display:none; }

.search-form {
    background-color: white;
    background-repeat: no-repeat;
    white-space: nowrap;
}

.pin-detail-image {margin: 10px;}

.pin-item {
    width: 50%;
    margin: 5px;
    border: .5px solid #d6d6d6;
}
.pin-item a {font-size: 10px;}

.pin-image {
    width: 95%;
    margin: 5px;
    font-size: 10px;
}

.pin-item a div {margin:5px;}


#category-title {
    min-width: 320px;
    text-align: center;
    margin-top:5px;
}
label[for="id_search"] { display: none;}

.button secondaryAction{margin-right: 10px;}

.primaryAction {
    background-color: black;
    color: white;
    border: None;
    padding: 10px 20px;
    margin-left: 20px;
}

} /* end media queries @ max-width 600px */

/** desktop screens */
/** media queries @ min-width 600px and max-width 1100*/
@media screen and (min-width: 600px) {
body {
    width: 100%;
    margin: 0 auto;
}

a, u {
    text-decoration: none;
}

#container { margin: 0 10px; }

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
    border: 1px solid black;
    max-width: 100px;
    max-height: 90px;
    padding: 35px 30px;
    margin: 1px;
}

/* main nav elements */
#main-nav{
    background: #f11f1f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    max-height: 20px;
}
.hamburger { display:none; }

#brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 6px 0px 6px 10px;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}
#brand-span{
    margin: 6px 10px 6px 10px;
    font-size: 7px;
    font-weight: 700;
 }

#spacer{
   min-width: 35px;
   min-height:39px;
}

/* child nav elements */
#child-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    height: 25px;
    background-color: #cdcfd3;
}

#child-nav a {
    font-weight: 700;
    color: #000;
    font-size: 8px;
    margin: 0px 16px;
}

#child-nav a:hover {
    color:white;
    padding:10px;
}

#border-line{
    background-color:red;
    height:10px;
    width: 100%;
}
/* main container */

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.content{
   width: 80%;
   margin: 5px 0px;
   display:flex;
   flex-direction:row;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.sidebar {
    width: 20%;
    text-align: center;
    margin-right: 5px;
}

.sidebar-ad{
    max-width: 120px;
    max-height: 240px;
    border: .5px solid #8a8989;
    margin: 5px;
}

.homepage-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: .5px solid #bbb8b8;
}

.homepage-content-2 {
    border: .5px solid #989898;
}

.item-image {
    width: 100px;
    height: 75px;
}

.item-title {
    font-size: 10px;
    font-weight: 600;
    color: #000;
    border: .5px solid #cecece;
    margin: 10px;
    padding: 5px;
}

a.item-title:hover {
    color: #d2d2d2;
}
.content span {font-size: 8px;}

.hamburger{
    margin-left: 15px;
    color: #fff;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    background-color: #fff;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
    background: #3b393f;
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000;
}

/* forms */


button {
    background-color: black;
    color: white;
    border: None;
    padding: 10px 20px;
}

#nav-search {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

#nav-search input[type=text] {
    width: 100%;
    padding: 1px;
    font-size: 10px;
    border: none;
}

#nav-search button {
    background-color: white;
    color: black;
    border: solid .5px #484444;
    padding: 1px 2px;
    font-size: 8px;
    padding: 2px;
    margin-left: 5px;
}

.search-form {
    background-color: white;
    background-repeat: no-repeat;
    white-space: nowrap;
}

.pin-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pin-detail {
    width: 65%;
    border: .5px solid #d6d6d6;
}

.pin-detail-image {margin: 10px;}

.pin-detail p { font-size: 12px;}


.pin-item {
   display:flex;
   flex-direction:row;
   justify-content:flex-start;
   align-items:center;
   flex-wrap: wrap;
   width: 20%;
   margin: 3px;
   border: .5px solid #d6d6d6;
}

.pin-item a {
    margin: 3px 0px 3px 5px;
    font-size: 10px;
}

.pin-image {
    width: 95%;
    font-size: 10px;
}


#category-title {
    min-width:600px;
    margin-left: 5px;
}

#category-title  p {
    margin: 0px;
    font-size: 12px;
}

.form-submit { background-color: blue; }



.image-result { width: 8%; }
.image-result-text { font-size: 10px; }

.add-item{ float:right; }

.pin-result-item { margin: 0px; }

label[for="id_search"] { display: none;}



.button secondaryAction{margin-right: 10px;}

.primaryAction {
    background-color: black;
    color: white;
    border: None;
    padding: 10px 20px;
    margin-left: 20px;
}

.pagination {
    min-width: 550px;
    margin: 30px 150px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

#footer {
    background-color: #3b393f;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#footer p {
    font-size: 14px;
    color: #fff;
}
#footer a {
    font-size: 14px;
    color: #fff;
}
#footer a:hover { color: #000; }

}

