{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load el_pagination_tags %}
{% paginate pins %}{% get_pages %}
{% for pin in pins %}
<div class="pin-item">
<a href="{{ pin.get_image_url }}">
    <img class="pin-image" src="{{ pin.image.url }}"/>
    <br><div>{{ pin.title|truncatechars:142 }}</div>
</a>
</div>
{% endfor %}


<div class="pagination">
<object>
  {{ pages.current_start_index }}-{{ pages.current_end_index }} of
    {{ pages.total_count }}</object>
    {{ pages.get_rendered }}

</div>
{% endblock %}