{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="homepage-content">
        {% for category in categories %}
        <a href="" class="item-title">
            <img class="item-image" src="{{ category.image.url }}">
            <br>{{ category.title }}
            <br><span>{{ category.pin_set.all.count }} Images</span>
        </a>
        {% endfor %}
    </div>

    <div class="homepage-content-2">
        most viewed
        newest images
    </div>

{% endblock %}
