{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="homepage-content">
        {% for category in categories %}
        <a href="{% url 'pins:category_detail' category.slug %}" class="item-title">
            <img class="item-image" src="{{ category.image.url }}">
            <br>{{ category.title }}
            <br><span>{{ category.pin_set.all.count }} Images</span>
        </a>
        {% endfor %}
    </div>
<div class="homepage-content">
<h5>Recent Images</h5>
<div class="list-items">
{% for pin in latest_pins %}
    <div class="pin-item">
        <a href="{{ pin.get_image_url }}">
            <img class="pin-image" src="{{ pin.image.url }}"/>
            <br><div>{{ pin.title|truncatechars:142 }}</div>
        </a>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}
