{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<section>
<p>Admin Dashboard</p>
{% if user.is_authenticated %}
<p>{{ user.get_username }} is logged in.</p>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<table>
  <tr>
    <th>Category</th>
    <th><a href="{% url 'backend:createCategory' %}" class="add-item">Add Category</a></th>
  </tr>
  <tr>
    <td><a href="{% url 'backend:admin_category_list' %}">Categories</a></td>
    <td></td>
  </tr>
</table>
<br />
<table>
  <tr>
    <th>Pin</th>
    <th><a href="{% url 'backend:createPin' %}" class="add-item">Add Pin</a></th>
  </tr>
  <tr>
    <td><a href="{% url 'backend:pins_list' %}">Pins</a></td>
    <td></td>
  </tr>
</table>
<br />
{% if user.is_superuser %}
 <table>
  <tr>
    <th>Superusers</th>
    <th> </th>
    <th> </th>
    <th><a href="{% url 'backend:createUser' %}" class="add-item">Add Super</a> </th>
  </tr>

  {% for user in superUsers %}
  <tr>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td><a href="{% url 'backend:editUser' pk=user.pk %}">Edit</a></td>
    <td><a href="{% url 'backend:deleteUser' pk=user.pk %}">Delete</a></td>
  </tr>
  {% endfor %}
</table>
<br />
<table>
  <tr>
    <th>Staff users</th>
    <th> </th>
    <th> </th>
    <th><a href="{% url 'backend:createUser' %}" class="add-item">Add Staff</a></th>
  </tr>
  {% for user in activeUsers %}
  <tr>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td><a href="{% url 'backend:editUser' pk=user.pk %}">Edit</a></td>
    <td><a href="{% url 'backend:deleteUser' pk=user.pk %}">Delete</a></td>
  </tr>
  {% endfor %}
</table>
{% endif %}
<br />
<form method="post" action="{% url 'account_logout' %}" class="search-form">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit">{% trans 'Sign Out' %}</button>
</form>
</section>



{% endif %}
{% endblock %}
