{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--<form class="search-form" action="/backend/search/" method="get">-->
<!--{{ form.as_p }}-->
<!--<input type="submit" value="Submit">-->
<!--</form>-->

<div id="search-page">
{% if "search" in request.GET %}
<p><b>Results "{{ cleaned.search }}"</b></p>
<p><b>Found: {{ total_count }}</b></p>
{% load el_pagination_tags %}
{% paginate results %}{% get_pages %}
{% for result in results %}
<p>
    <a href="{{ result.object.get_image_url }}" class="image-result-text">
        <img class="image-result" src="{{ result.object.image.url }}">
        {{ result.object.title }}
    </a>
</p>
{% empty %}
<p>There are no results for your query.</p>
</div>
{% endfor %}
{{ pages.current_start_index }}-{{ pages.current_end_index }} of
{{ pages.total_count }}
{{ pages.get_rendered }}
{% endif %}
{% endblock %}