{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="search-page">
<form class="search-form" action="/backend/search/" method="get">
{{ form.as_p }}
<input type="submit" value="Submit">
</form>
{% if "search" in request.GET %}
<p><b>Results "{{ cleaned.search }}"</b></p>
<p><b>Found: {{ total_count }}</b></p>
{% for result in results %}
<p>
    <a href="{{ result.object.get_image_url }}">
        <img class="pin-image" src="{{ result.object.image.url }}">
        {{ result.object.title }}
    </a>
</p>
{% empty %}
<p>There are no results for your query.</p>
</section>
{% endfor %}
{% endif %}
{% endblock %}