{% extends 'base.html' %}
{% load static %}
<h4>{{ category.title }}</h4>
{% block content %}

<br>
<div id="category-title">
    {{ category.title }}
    <p>{{ category.description }}</p>
</div>
{% load el_pagination_tags %}
{% paginate pins %}{% get_pages %}
{% paginate pins %}
<div class="list-items">
{% for pin in pins %}
    <div class="pin-item">
        <a href="{% url 'pins:pin_detail' category.slug pin.slug %}">
            <img class="pin-image" src="{{ pin.image.url }}"/>
            <div>{{ pin.title|truncatechars:142 }}</div>
        </a>
        {% if user.is_authenticated %}
        <div id="edit-pins">
             <a href="{% url 'backend:editPins' slug=pin.slug %}">Edit</a>
             <a href="{% url 'backend:deletePins' slug=pin.slug  %}">Delete</a>
        </div>
        {% endif %}
    </div>
{% endfor %}
</div>

<div class="pagination">
    {{ pages.current_start_index }}-{{ pages.current_end_index }} of
    {{ pages.total_count }}

    {{ pages.get_rendered }}
</div>
{% endblock %}