{% extends 'base.html' %}
{% load static %}
<h4>{{ category.title }}</h4>
{% block content %}

<br>
<div id="category-title">
    {{ category.title }}
    <p>{{ category.description }}</p>
</div>
{% load el_pagination_tags %}
{% paginate pins %}{% get_pages %}
{% paginate pins %}
{% for pin in pins %}
<div class="pin-item">
<a href="{% url 'pins:pin_detail' category.slug pin.slug %}">
    <img class="pin-image" src="{{ pin.image.url }}"/>
    <br><div>{{ pin.title|truncatechars:142 }}</div>
</a>
</div>
{% endfor %}
<br>

<div class="pagination">
<object>
  {{ pages.current_start_index }}-{{ pages.current_end_index }} of
    {{ pages.total_count }}</object>
    {{ pages.get_rendered }}

</div>

{% endblock %}